<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>restfulWSClient-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
        <feature>appSecurity-5.0</feature>
        <feature>cdi-4.0</feature>
        <feature>microprofile-7.0</feature>
        <feature>jakartaee-10.0</feature>
        <feature>mpGraphQL-1.0</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

   

     <library id="mysql-lib">
        <file name= "${server.config.dir}/mysql-connector-java.jar"/>
         </library>

    <dataSource id="mysql-datasource" jndiName="jdbc/mysql" type="javax.sql.ConnectionPoolDataSource">
        <jdbcDriver libraryRef="mysql-lib" javax.sql.ConnectionPoolDataSource="com.mysql.cj.jdbc.MysqlConnectionPoolDataSource"/>
        <properties URL="jdbc:mysql://localhost:3306/positivityJar" user="root" password="root"/>
    </dataSource>

    
    
     <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/positivityJar" location="positivityJar.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
